<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <div class="calculator">
        <input type="text" class="display" value="0" disabled>

        <div class="calculator-keys">
            <button type="button" class="operator" value="+">+</button>
            <button type="button" class="operator" value="-">-</button>
            <button type="button" class="operator" value="*">&times;</button>
            <button type="button" class="operator" value="/">&divide;</button>
            <button type="button" class="number-bases" value="hex">HEX</button>

            <button type="button" class="operator" value="&">AND</button>
            <button type="button" class="numbers" value="7">7</button>
            <button type="button" class="numbers" value="8">8</button>
            <button type="button" class="numbers" value="9">9</button>
            <button type="button" class="number-bases" value="oct">OCT</button>

            <button type="button" class="operator" value="|">OR</button>
            <button type="button" class="numbers" value="4">4</button>
            <button type="button" class="numbers" value="5">5</button>
            <button type="button" class="numbers" value="6">6</button>
            <button type="button" class="number-bases" value="bin">BIN</button>

            <button type="button" class="operator" value="^">XOR</button>
            <button type="button" class="numbers" value="1">1</button>
            <button type="button" class="numbers" value="2">2</button>
            <button type="button" class="numbers" value="3">3</button>

            <button type="button" class="clear-screen" value="del">DEL</button>
            <button type="button" class="clear-screen" value="clear-all">CE</button>
            <button type="button" class="numbers" value="0">0</button>
            <button type="button" class="decimal" value=".">.</button>
            <button type="button" class="equal-sign operator" value="=">=</button>
        </div>
    </div>

    <script src="/javascripts/calculator.js"></script>
</body>
</html>